<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EWS_emulater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EWS_emulater.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="EWSStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NorTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SpcTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="db_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="db_port" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="db_id" serializeAs="String">
                <value>dmb_db</value>
            </setting>
            <setting name="db_pw" serializeAs="String">
                <value />
            </setting>
            <setting name="db_sid" serializeAs="String">
                <value>orcl</value>
            </setting>
        </EWS_emulater.Properties.Settings>
    </userSettings>
</configuration>