<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EWSSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <!--환경 설정 부분 변수 설정-->
        <!--오라클-->
        <add key="OraId"  value="ews_db"/>
        <add key="OraPw"  value="ews"/>
        <add key="OraIp"  value="localhost"/>
        <add key="OraPort"  value="1521"/>
        <add key="OraSid"  value="orcl"/>

        <!--TCP Server 설정-->
        <add key="TCPPort"  value="9000"/>

        <!--MUX 기본 설정-->
        <add key="MUXTcId"  value="7"/>
        <add key="MUXRetry"  value="3"/>

        <!--메세지 MUX 전송 설정 (공통시)-->
        <add key="MaxId"  value="255"/>

        <!--특수메세지 MUX 전송 설정-->
        <add key="SpcMaxId"  value="255"/>
        <add key="SpcRepeatNum"  value="3"/>
        <add key="SpcWaitTime"  value="15"/>
        <add key="SpcCycle"  value="15000"/>


        <!--일반메세지 MUX 전송 설정-->
        <add key="NorMaxId"  value="255"/>
        <add key="NorProcNum"  value="1"/>
        <add key="NorRepeatNum"  value="3"/>
        <add key="NorCycle"  value="1000"/>
        <add key="NorTransTime"  value="1"/>
        <add key="NorWaitTime"  value="1"/>


    </appSettings>
    <applicationSettings>
        <EWSSystem.Properties.Settings>
            <setting name="EWSSystem_Factum_DabCtrlApi" serializeAs="String">
                <value>http://localhost/</value>
            </setting>
        </EWSSystem.Properties.Settings>
    </applicationSettings>
</configuration>